<section id= "todos" class="<%= list_class(@list) %>"> <!--less code more explicit-->
  
<header>
    <h2><%= @list[:name] %> </h2>
  
    <ul>
      <li>
         <form action="/lists/<%= @list_number %>/complete_all" method="post">
            <button class="check">Complete all</button>
         </form>
      </li>
      <li><a class= 'edit' href = '/lists/<%= @list_number %>/edit'> Edit list </a></li>
    </ul>  <!--put the link on the right side-->
</header>

<!--print out each todo -->
<ul>
  <% order_todos(@list[:todos]) do |todo| %>
    <% if todo[:completed] %>
      <li class= "complete">
    <% else %>
      <li>
    <% end %>
    <!--complete todo -->
      <form action="/lists/<%= @list_number %>/todo/<%= todo[:id] %>" method="post" class="check">
        <input type="hidden" name="completed" value="<%= !todo[:completed] %>" />  <!--send data to server; it is possible webpage and server are not identical -->
        <button type="submit">Complete</button>
      </form>
    <!--delete todo -->
      <h3><%= h todo[:name] %></h3>
        <form action="/lists/<%= @list_number %>/todo/<%= todo[:id] %>/destroy" method="post" class="delete">
            <button type="submit">Delete</button>
        </form>
    </li>
  <% end %>
</ul>
</section>



<% content_for :header_links do %>
  <a class="list" href = '/lists'>All lists</a>
<% end %>

<!-- submit todo -->
<form action="/lists/<%= @list_number %>/todo" method="post"> <!--params[:list_number] || params[:number] when rendering, sometimes they are using list_id when there is /add, sometimes they are using ad when there is no /add-->
  <dl>
    <dt>
      <label for="to_do_name">Enter a new todo item:</label>
    </dt>
    <dd>
      <input name="to_do_name" placeholder="Something to do" type="text" value="">
    </dd>
  </dl>
  <fieldset class="actions">
    <input type="submit" value="Add">
  </fieldset>
</form>